Repository Element84/e84-geoai-common: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

Add linting check for proper formatting (#18)
  .pre-commit-config.yaml
  scripts/lint.sh
Due: check-yaml

format pyproject.toml
  pyproject.toml
Due: check-toml

remove redundant ClaudeTextResponse definition
  src/e84_geoai_common/llm/models/claude.py
Due: none

rename ClaudeToolUseResponse to ClaudeToolUseContent for consistency
  src/e84_geoai_common/llm/models/claude.py
Due: none

define generic tool-related classes
  src/e84_geoai_common/llm/core/__init__.py
  src/e84_geoai_common/llm/core/llm.py
Due: none

add tool support for Claude
  pyproject.toml
  requirements.txt
  src/e84_geoai_common/llm/models/claude.py
Due: check-toml

add tool use tests for claude
  src/e84_geoai_common/llm/tests/mock_bedrock.py
  tests/llm/models/test_claude.py
Due: none

compatibility fixes for Nova
  src/e84_geoai_common/llm/models/nova.py
Due: none

modify test script to allow passing args to pytest
  scripts/test.sh
Due: none

add tool support for converse API
  pyproject.toml
  src/e84_geoai_common/llm/models/converse.py
  src/e84_geoai_common/llm/models/converse/__init__.py
  src/e84_geoai_common/llm/models/converse/converse.py
  src/e84_geoai_common/llm/models/converse/data_content_types.py
  src/e84_geoai_common/llm/models/converse/msg_types.py
  src/e84_geoai_common/llm/models/converse/response_types.py
  src/e84_geoai_common/llm/models/converse/tool_use_types.py
  src/e84_geoai_common/llm/tests/mock_bedrock.py
  tests/llm/models/test_converse.py
Due: check-toml

update tool definition in Agent
  src/e84_geoai_common/llm/core/agent.py
Due: none

fix incorrect docstring
  src/e84_geoai_common/llm/core/llm.py
Due: none

elaborate on LLMToolChoice modes
  src/e84_geoai_common/llm/core/llm.py
Due: none

make `response_to_llm_message()` a private method
  src/e84_geoai_common/llm/models/claude.py
  src/e84_geoai_common/llm/models/converse/converse.py
  src/e84_geoai_common/llm/models/nova.py
Due: none

use json.dumps() instead of rich.pretty.pretty_repr()
  src/e84_geoai_common/llm/models/claude.py
  src/e84_geoai_common/llm/models/converse/converse.py
Due: none

add comment explaining printing out of responses in live LLM testing
  tests/llm/models/test_claude.py
  tests/llm/models/test_converse.py
Due: none

make static methods private module-level functions
  src/e84_geoai_common/llm/models/claude.py
  src/e84_geoai_common/llm/models/converse/converse.py
  src/e84_geoai_common/llm/models/nova.py
Due: none

Add tool-use support for Claude and Converse APIs (#19)
  pyproject.toml
  requirements.txt
  scripts/test.sh
  src/e84_geoai_common/llm/core/__init__.py
  src/e84_geoai_common/llm/core/agent.py
  src/e84_geoai_common/llm/core/llm.py
  src/e84_geoai_common/llm/models/claude.py
  src/e84_geoai_common/llm/models/converse.py
  src/e84_geoai_common/llm/models/converse/__init__.py
  src/e84_geoai_common/llm/models/converse/converse.py
  src/e84_geoai_common/llm/models/converse/data_content_types.py
  src/e84_geoai_common/llm/models/converse/msg_types.py
  src/e84_geoai_common/llm/models/converse/response_types.py
  src/e84_geoai_common/llm/models/converse/tool_use_types.py
  src/e84_geoai_common/llm/models/nova.py
  src/e84_geoai_common/llm/tests/mock_bedrock.py
  tests/llm/models/test_claude.py
  tests/llm/models/test_converse.py
Due: check-toml

fix incorrect stop-reason in tests
  tests/llm/models/test_claude.py
  tests/llm/models/test_converse.py
Due: none

constrain mypy-boto3-bedrock-runtime version due to breaking changes
  pyproject.toml
Due: check-toml

define LLMTool.execute()
  src/e84_geoai_common/llm/core/llm.py
  tests/llm/models/test_claude.py
  tests/llm/models/test_converse.py
Due: none

Add an `execute()` method to `LLMTool` (#23)
  pyproject.toml
  src/e84_geoai_common/llm/core/llm.py
  tests/llm/models/test_claude.py
  tests/llm/models/test_converse.py
Due: check-toml

Updating timed_function to allow passing a logger to use
  src/e84_geoai_common/util.py
Due: none

Adding utility function for chunking items and getting unique items.
  pyproject.toml
  src/e84_geoai_common/util.py
  tests/test_util.py
Due: check-toml

batch support rough draft
  src/e84_geoai_common/llm/models/batch/__init__.py
  src/e84_geoai_common/llm/models/batch/batch_llm.py
  src/e84_geoai_common/llm/models/batch/iam_utils.py
  src/e84_geoai_common/llm/models/batch/models.py
  src/e84_geoai_common/llm/models/batch/s3_utils.py
  src/e84_geoai_common/llm/models/claude.py
  src/e84_geoai_common/llm/tests/mock_bedrock.py
Due: none

Adding group_by function
  src/e84_geoai_common/util.py
  tests/test_util.py
Due: none

Adding claude 3.7 support.
  requirements.txt
  src/e84_geoai_common/geojson.py
  src/e84_geoai_common/llm/models/claude.py
  src/e84_geoai_common/llm/models/converse/converse.py
  src/e84_geoai_common/llm/models/converse/data_content_types.py
  src/e84_geoai_common/llm/models/nova.py
  src/e84_geoai_common/util.py
Due: none

refactored batch api
  pyproject.toml
  requirements.txt
  src/e84_geoai_common/llm/core/llm.py
  src/e84_geoai_common/llm/models/batch.py
  src/e84_geoai_common/llm/models/batch/__init__.py
  src/e84_geoai_common/llm/models/batch/batch_llm.py
  src/e84_geoai_common/llm/models/batch/iam_utils.py
  src/e84_geoai_common/llm/models/batch/models.py
  src/e84_geoai_common/llm/models/batch/s3_utils.py
  src/e84_geoai_common/llm/models/claude.py
  src/e84_geoai_common/llm/models/converse/converse.py
  src/e84_geoai_common/llm/models/nova.py
Due: check-toml

fix import issue
  src/e84_geoai_common/llm/tests/mock_bedrock.py
Due: none

pytesting and update output for nova
  .env
  .gitignore
  pyproject.toml
  src/e84_geoai_common/llm/models/batch.py
  src/e84_geoai_common/llm/models/nova.py
  tests/llm/models/test_batch.py
Due: check-toml

fix wrong validation type
  src/e84_geoai_common/llm/models/batch.py
  src/e84_geoai_common/llm/models/claude.py
Due: none

move moto dependency for pyright
  pyproject.toml
Due: check-toml

add claude 3.7
  src/e84_geoai_common/llm/models/claude.py
Due: none

Add support for Claude 3.7 (#25)
  src/e84_geoai_common/llm/models/claude.py
Due: none

Intermediate commit remove extraneous geoms
  .pre-commit-config.yaml
  pyproject.toml
  src/e84_geoai_common/geometry.py
  tests/test_geometry.py
Due: check-toml, check-yaml

Finishing todos for additional tests
  .pre-commit-config.yaml
  pyproject.toml
  requirements.txt
  scripts/test.sh
  src/e84_geoai_common/geometry.py
  src/e84_geoai_common/llm/models/claude.py
  src/e84_geoai_common/llm/models/converse/converse.py
  src/e84_geoai_common/llm/models/nova.py
  tests/test_geometry.py
Due: check-toml, check-yaml

Removing functions that are available in itertools
  src/e84_geoai_common/util.py
  tests/test_util.py
Due: none

Adding additional documentation to remove_extraneous_geom and _GeomPart
  src/e84_geoai_common/geometry.py
Due: none

Renaming remove_extraneous_geoms
  src/e84_geoai_common/geometry.py
  tests/test_geometry.py
Due: none

Adding initial copy of evaluation code from a natural language geocoding branch
  pyproject.toml
  requirements.txt
  src/e84_geoai_common/llm/eval/__init__.py
  src/e84_geoai_common/llm/eval/core.py
  src/e84_geoai_common/llm/eval/templates/full_eval_result.md
  src/e84_geoai_common/llm/eval/templates/single_eval_diff_result.md
  src/e84_geoai_common/llm/eval/templates/single_eval_success_result.md
  src/e84_geoai_common/llm/eval/tree_distance.py
  tests/llm/eval/__init__.py
  tests/llm/eval/test_tree_distance.py
Due: check-toml

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
